
table {
border-collapse: collapse;
width: 30%;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
color:brown;
}

th {
background-color: #2c5282;
color: white;
}

tr:nth-child(even) {
background-color: #f7fafc;
}

tr{
background-color: #bee3f8;
}

tr:hover {
background-color: yellow;
}




